@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@layer theme, base, components, utilities;

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .bg-emerald {
        background-color: #00bf63;
    }
    .bg-graphite {
        background-color: #282733;
    }
    .bg-porcelain {
        background-color: #f6f6fa;
    }
    .bg-mist {
        background-color: #dfe1e7;
    }
    .bg-slate {
        background-color: #4d4b5c;
    }
    .bg-ash {
        background-color: #888599;
    }
    .bg-mint {
        background-color: #10b981;
    }
    .bg-sky {
        background-color: #c7ecff;
    }
    .bg-primary {
        background-color: #153b4e;
    }
    .bg-success {
        background-color: #047857;
    }
    .bg-warning {
        background-color: #fffbed;
    }
    .bg-error {
        background-color: #dc2626;
    }
}
